<div class="devicetokens index">
	<h2><?php echo __('Devicetokens'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('devicetoken'); ?></th>
			<th><?php echo $this->Paginator->sort('is_login'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($devicetokens as $devicetoken): ?>
	<tr>
		<td><?php echo h($devicetoken['Devicetoken']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($devicetoken['User']['id'], array('controller' => 'users', 'action' => 'view', $devicetoken['User']['id'])); ?>
		</td>
		<td><?php echo h($devicetoken['Devicetoken']['devicetoken']); ?>&nbsp;</td>
		<td><?php echo h($devicetoken['Devicetoken']['is_login']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $devicetoken['Devicetoken']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $devicetoken['Devicetoken']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $devicetoken['Devicetoken']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $devicetoken['Devicetoken']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Devicetoken'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
