
<!-- =========================
     FOOTER 
============================== -->

<section class="copyright">
    <h2></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                   <div class="col-md-5"><p>Copyright &copy; <?php echo date('Y')?>. All Rights Reserved.</p></div>
                    <div class="col-md-3"><P>Powered by Startup Bangladesh</P>
                    <?php echo $this->Html->image('startup-logo.png', ['width' => '291', 'height' => '140'])?>
                    </div>
                    <div class="col-md-3"><p>An award wining product of<br> <a href="http://www.xorbd.com" target="_blank"> XOR Software Solution</a></p></div>
                    <div class="pull-right col-md-1">
                        <div class="scroll_top">
                            <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->