<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Notices</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><?php echo $this->Paginator->sort('id'); ?></th>
                                <th><?php echo $this->Paginator->sort('title'); ?></th>
                                <th><?php echo $this->Paginator->sort('filename'); ?></th>
                                <th><?php echo $this->Paginator->sort('created'); ?></th>
                                <th><?php echo $this->Paginator->sort('modified'); ?></th>
                                <th class="actions"><?php echo __('Actions'); ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($notices as $notice): ?>
                                <tr>
                                    <td><?php echo h($notice['Notice']['id']); ?>&nbsp;</td>
                                    <td><?php echo h($notice['Notice']['title']); ?>&nbsp;</td>
                                    <td><?php echo h($notice['Notice']['filename']); ?>&nbsp;</td>
                                    <td><?php echo h($notice['Notice']['created']); ?>&nbsp;</td>
                                    <td><?php echo h($notice['Notice']['modified']); ?>&nbsp;</td>
                                    <td class="actions">
<!--                                        --><?php //echo $this->Html->link(__('View'), array('action' => 'view', $notice['Notice']['id'])); ?>
                                        <?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $notice['Notice']['id'])); ?>
                                        <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $notice['Notice']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $notice['Notice']['id']))); ?>
                                    </td>
                                </tr>

                            <?php endforeach; ?>

                            </tbody>

                        </table>

                        <p class="pull-right">
                            <?php
                            echo $this->Paginator->counter(array(
                                'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
                            ));
                            ?>
                        </p>
                        <div class="clearfix"></div>
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <?php
                            echo '<li>'.$this->Paginator->prev('< ' . __('Previous'), array(), null, array('class' => 'prev disabled')).'</li>';
                            echo '<li>'.$this->Paginator->numbers(array('separator' => '')).'</li>';
                            echo '<li>'.$this->Paginator->next(__('Next') . ' >', array(), null, array('class' => 'next disabled')).'</li>';
                            ?>
                        </ul>
                    </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>









<!--<div class="notices index">
	<h2><?php /*echo __('Notices'); */?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php /*echo $this->Paginator->sort('id'); */?></th>
			<th><?php /*echo $this->Paginator->sort('title'); */?></th>
			<th><?php /*echo $this->Paginator->sort('filename'); */?></th>
			<th><?php /*echo $this->Paginator->sort('created'); */?></th>
			<th><?php /*echo $this->Paginator->sort('modified'); */?></th>
			<th class="actions"><?php /*echo __('Actions'); */?></th>
	</tr>
	</thead>
	<tbody>
	<?php /*foreach ($notices as $notice): */?>
	<tr>
		<td><?php /*echo h($notice['Notice']['id']); */?>&nbsp;</td>
		<td><?php /*echo h($notice['Notice']['title']); */?>&nbsp;</td>
		<td><?php /*echo h($notice['Notice']['filename']); */?>&nbsp;</td>
		<td><?php /*echo h($notice['Notice']['created']); */?>&nbsp;</td>
		<td><?php /*echo h($notice['Notice']['modified']); */?>&nbsp;</td>
		<td class="actions">
			<?php /*echo $this->Html->link(__('View'), array('action' => 'view', $notice['Notice']['id'])); */?>
			<?php /*echo $this->Html->link(__('Edit'), array('action' => 'edit', $notice['Notice']['id'])); */?>
			<?php /*echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $notice['Notice']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $notice['Notice']['id']))); */?>
		</td>
	</tr>
<?php /*endforeach; */?>
	</tbody>
	</table>
	<p>
	<?php
/*	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	*/?>	</p>
	<div class="paging">
	<?php
/*		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	*/?>
	</div>
</div>
<div class="actions">
	<h3><?php /*echo __('Actions'); */?></h3>
	<ul>
		<li><?php /*echo $this->Html->link(__('New Notice'), array('action' => 'add')); */?></li>
	</ul>
</div>-->
