<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
$cakeVersion = __d('cake_dev', 'CakePHP %s', Configure::version())
?>
<!DOCTYPE html>
<html>
<head>
    <?php echo $this->Html->charset(); ?>
    <title>
        <?php echo $cakeDescription ?>:
        <?php echo $this->fetch('title'); ?>
    </title>
    <?php
    echo $this->Html->meta('icon');

    echo $this->Html->css(['cake.generic']);
    echo $this->Html->script(['jquery-2.1.1.min']);

    echo $this->fetch('meta');
    echo $this->fetch('css');
    echo $this->fetch('script');
    ?>
    <script src="http://cdn.ckeditor.com/4.6.0/full/ckeditor.js"></script>
    <script>
        var ROOT = '<?php echo $this->Html->url('/', true); ?>';
        var HERE = '<?php echo $this->here; ?>';
        $(function() {
            CKEDITOR.replace( 'editor');
            CKEDITOR.replace( 'editor1');
            CKEDITOR.replace( 'option-1');
            CKEDITOR.replace( 'option-2');
            CKEDITOR.replace( 'option-3');
            CKEDITOR.replace( 'option-4');
            CKEDITOR.replace( 'option-5');
        });
    </script>
</head>
<body>

<div id="header">
    <h1><?php echo $this->Html->link($cakeDescription, 'http://cakephp.org'); ?></h1>
</div>
<div id="content">

    <?php echo $this->Session->flash(); ?>

    <?php echo $this->fetch('content'); ?>
</div>
<div id="footer">
    <?php echo $this->Html->link(
        $this->Html->image('cake.power.gif', array('alt' => $cakeDescription, 'border' => '0')),
        'http://www.cakephp.org/',
        array('target' => '_blank', 'escape' => false, 'id' => 'cake-powered')
    );
    ?>
    <p>
        <?php echo $cakeVersion; ?>
    </p>
</div>
</div>
<?php echo $this->element('sql_dump'); ?>
</body>
</html>
