<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Emails Lists</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><?php echo $this->Paginator->sort('id'); ?></th>
                                <th><?php echo $this->Paginator->sort('email'); ?></th>
                                <th><?php echo $this->Paginator->sort('fullname'); ?></th>
                                <th><?php echo $this->Paginator->sort('subject'); ?></th>
                                <th><?php echo $this->Paginator->sort('message'); ?></th>
                                <th><?php echo $this->Paginator->sort('created'); ?></th>
                                <th><?php echo $this->Paginator->sort('modified'); ?></th>
                                <th class="actions"><?php echo __('Actions'); ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($emails as $email): ?>
                              <tr>
                                  <td><?php echo h($email['Email']['id']); ?>&nbsp;</td>
                                  <td><?php echo h($email['Email']['email']); ?>&nbsp;</td>
                                  <td><?php echo h($email['Email']['fullname']); ?>&nbsp;</td>
                                  <td><?php echo h($email['Email']['subject']); ?>&nbsp;</td>
                                  <td><?php echo h($email['Email']['message']); ?>&nbsp;</td>
                                  <td><?php echo h($email['Email']['created']); ?>&nbsp;</td>
                                  <td><?php echo h($email['Email']['modified']); ?>&nbsp;</td>
                                  <td class="actions">
                                      <?php echo $this->Html->link(__('View'), array('action' => 'view', $email['Email']['id']), array('class' => 'btn btn-primary')); ?>
                                      <?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $email['Email']['id']), array('class' => 'btn btn-warning')); ?>
                                      <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $email['Email']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $email['Email']['id']), 'class' => 'btn btn-danger')); ?>
                                  </td>
                               </tr>

                            <?php endforeach; ?>

                            </tbody>

                        </table>
                        <p class="pull-right">
                            <?php
                            echo $this->Paginator->counter(array(
                                'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
                            ));
                            ?>
                        </p>
                        <div class="clearfix"></div>
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <?php
                            echo '<li>'.$this->Paginator->prev('< ' . __('Previous'), array(), null, array('class' => 'prev disabled')).'</li>';
                            echo '<li>'.$this->Paginator->numbers(array('separator' => '')).'</li>';
                            echo '<li>'.$this->Paginator->next(__('Next') . ' >', array(), null, array('class' => 'next disabled')).'</li>';
                            ?>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>







<!--<div class="emails index">
	<h2><?php /*echo __('Emails'); */?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php /*echo $this->Paginator->sort('id'); */?></th>
			<th><?php /*echo $this->Paginator->sort('email'); */?></th>
			<th><?php /*echo $this->Paginator->sort('fullname'); */?></th>
			<th><?php /*echo $this->Paginator->sort('subject'); */?></th>
			<th><?php /*echo $this->Paginator->sort('message'); */?></th>
			<th><?php /*echo $this->Paginator->sort('created'); */?></th>
			<th><?php /*echo $this->Paginator->sort('modified'); */?></th>
			<th class="actions"><?php /*echo __('Actions'); */?></th>
	</tr>
	</thead>
	<tbody>
	<?php /*foreach ($emails as $email): */?>
	<tr>
		<td><?php /*echo h($email['Email']['id']); */?>&nbsp;</td>
		<td><?php /*echo h($email['Email']['email']); */?>&nbsp;</td>
		<td><?php /*echo h($email['Email']['fullname']); */?>&nbsp;</td>
		<td><?php /*echo h($email['Email']['subject']); */?>&nbsp;</td>
		<td><?php /*echo h($email['Email']['message']); */?>&nbsp;</td>
		<td><?php /*echo h($email['Email']['created']); */?>&nbsp;</td>
		<td><?php /*echo h($email['Email']['modified']); */?>&nbsp;</td>
		<td class="actions">
			<?php /*echo $this->Html->link(__('View'), array('action' => 'view', $email['Email']['id'])); */?>
			<?php /*echo $this->Html->link(__('Edit'), array('action' => 'edit', $email['Email']['id'])); */?>
			<?php /*echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $email['Email']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $email['Email']['id']))); */?>
		</td>
	</tr>
<?php /*endforeach; */?>
	</tbody>
	</table>
	<p>
	<?php
/*	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	*/?>	</p>
	<div class="paging">
	<?php
/*		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	*/?>
	</div>
</div>-->

